/* styles in src/style directory are applied to the whole page */
body {
    padding-top: 65px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F4F4F4;
}

.card {
  position: relative;
  display: block;
  background-color: white;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 15px;
  /*border: 1px solid #DCDCDC;
  border-radius: 2px;*/
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.input-search{
  max-width: 180px;
}
