<div id="listShots-header" ng-init="listShots.showShots()">
	<div id="lista-shots" ng-repeat="shot in listShots.shots">
		<div class= "col-xs-6 col-md-3">
	 		<div class="card" ng-id="{{ shot.id }}" ng-href="/{{ shot.id }}">
	      <div>
	          <img class="img-thumbnail" ng-src="{{ shot.images.teaser }}" />
	          <div class="overlay">
			      	<p class="desc-title">{{ shot.title }}</p>
			      	<p class="desc-date">{{ shot.created_at | date }}</p>
			      </div>
	      </div>
	      <div>
	          <span>
	              <i class="shoticon glyphicon glyphicon-eye-open"></i>
	              <a class="icon-info">{{ shot.views_count }}</a>
	          </span>
	          <span>
	              <i class="shoticon glyphicon glyphicon-comment"></i>
	              <a class="icon-info">{{ shot.comments_count }}</a>
	          </span>
	          <span>
	              <i class="shoticon glyphicon glyphicon-heart"></i>
	              <a class="icon-info">{{ shot.likes_count }}</a>
	          </span>
	      </div>
	      <p class = "user">
	          {{ shot.user.name }}
	      </p>
	    </div>
	  </div>
 	</div>

  <button class="btn btn-success btn-block" ng-click="listShots.showShots()">
    Load More
  </button>
</div>
