<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-wrapper">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Angular Dribble</a>
    </div>
    <div class="nav navbar-nav navbar-buttons">
    	<li ng-click="listShots.smallShots()">
				<a> 
	        <span class="glyphicon glyphicon-th"></span>
		    </a>
		  </li>
    	<li ng-click="listShots.normalShots()">
		    <a> 
	        <span class="glyphicon glyphicon-th-large"></span>
		    </a>
			</li>
    </div>
    <div>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" placeholder="Search" class="form-control input-search">
        </div>
        <button type="submit" class="btn btn-success">
        	<i class="glyphicon glyphicon-search"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
<div id="listShots-header" ng-init="listShots.showShots()">
	<div id="lista-shots" ng-repeat="shot in listShots.shots">
		<div class="{{ listShots.layout.col }}">
	 		<div class="card" ng-id="{{ shot.id }}" ng-click="listShots.selectShot(shot)" data-toggle="modal" data-target="#myModal">
	      <div>
	          <img class="img-thumbnail" ng-src="{{ listShots.layout.img === 'teaser' ? shot.images.teaser : shot.images.normal }}"/>
	          <div class="overlay">
			      	<p class="desc-title">{{ shot.title }}</p>
			      	<p class="desc-date">{{ shot.created_at | date }}</p>
			      </div>
	      </div>
	      <div>
	          <span>
	              <i class="shoticon glyphicon glyphicon-eye-open"></i>
	              <a class="icon-info">{{ shot.views_count }}</a>
	          </span>
	          <span>
	              <i class="shoticon glyphicon glyphicon-comment"></i>
	              <a class="icon-info">{{ shot.comments_count }}</a>
	          </span>
	          <span>
	              <i class="shoticon glyphicon glyphicon-heart"></i>
	              <a class="icon-info">{{ shot.likes_count }}</a>
	          </span>
	      </div>
	      <p class = "user">
	          {{ shot.user.name }}
	      </p>
	    </div>
	  </div>
 	</div>

  <button class="btn btn-success btn-block" ng-click="listShots.showShots()">
    Load More
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ listShots.singleShot.id }}</h4>
      </div>
      <div class="modal-body">
        {{ listShots.singleShot.id }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
