#listShots-header {
  text-align: center;
}

.card {
  position: relative;
  display: block;
  background-color: white;
  padding: 5px;
  margin-bottom: 10px;
  /*border: 1px solid #DCDCDC;
  border-radius: 2px;*/
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.input-search{
  max-width: 180px;
}


.navbar-wrapper{
	padding-left: 5%;
    padding-right: 5%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #F4F4F4;
}

.card:hover .overlay{
  opacity: 0.8;
}

.desc-date{
  font-size: 11px;
  position: absolute;
  bottom: 45px;
  left: 30px;
}

.desc-title{
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 30px;
}

.user {
  font-size: 12px;
  color: #389CDF;
}

.shoticon{
  padding-left: 5px;
  color: #828282;
}

.icon-info{
  color: #828282;
}

.user-avatar{
	height: 70px;
	width: 70px;
	float: left;
	margin-right: 10px;
}

.modal-user{
	display: inline-block;
	width: 100%;
}

.singleShot-title{
	color: #3d3d3d;
}

.user-info{
	color: #828282;
}

.btn-load-more{
	width: 80%;
	margin-top: 15px;
	margin-right: 10%;
	margin-left: 10%;
}

.btn-close-modal{
	float:right;
}