<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-wrapper">
    <div class="navbar-header">
    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Angular Dribble</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <div class="nav navbar-nav navbar-buttons">
	    	<li ng-click="listShots.smallShots()">
					<a> 
		        <span class="glyphicon glyphicon-th" role="button"></span>
			    </a>
			  </li>
	    	<li ng-click="listShots.normalShots()">
			    <a> 
		        <span class="glyphicon glyphicon-th-large" role="button"></span>
			    </a>
				</li>
	    </div>
	    <div>
	      <form class="navbar-form navbar-right" role="search">
	        <div class="form-group">
	          <input type="text" placeholder="Search" class="form-control input-search">
	        </div>
	        <button type="submit" class="btn btn-success">
	        	<i class="glyphicon glyphicon-search"></i>
	        </button>
	      </form>
	    </div>
	  </div>
  </div>
</nav>
<div id="listShots-header" ng-init="listShots.showShots()">
	<div id="lista-shots" ng-repeat="shot in listShots.shots">
		<div class="{{ listShots.layout.col }}">
	 		<div class="card" ng-id="{{ shot.id }}" ng-click="listShots.selectShot(shot)" data-toggle="modal" data-target="#myModal">
	      <div>
	          <img class="img-thumbnail" ng-src="{{ listShots.layout.img === 'teaser' ? shot.images.teaser : shot.images.normal }}"/>
	          <div class="overlay">
			      	<p class="desc-title">{{ shot.title }}</p>
			      	<p class="shotList-description" ng-bind-html="shot.description"></p>
			      	<p class="desc-date">{{ shot.created_at | date }}</p>
			      </div>
	      </div>
	      <div>
	          <span>
	              <i class="shoticon glyphicon glyphicon-eye-open"></i>
	              <a class="icon-info">{{ shot.views_count }}</a>
	          </span>
	          <span>
	              <i class="shoticon glyphicon glyphicon-comment"></i>
	              <a class="icon-info">{{ shot.comments_count }}</a>
	          </span>
	          <span>
	              <i class="shoticon glyphicon glyphicon-heart"></i>
	              <a class="icon-info">{{ shot.likes_count }}</a>
	          </span>
	      </div>
	      <p class = "user">
	          {{ shot.user.name }}
	      </p>
	    </div>
	  </div>
 	</div>
  <button class="btn btn-lg btn-info btn-load-more" ng-click="listShots.showShots()">
    Load More
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-admin" role="document">
    <div class="modal-content">
      <div class="modal-header moodal-user">
        <button type="button" class="close btn-close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      	<img class="img-circle user-avatar" ng-src="{{ listShots.singleShot.user.avatar_url }}"/></img>
      	<h4 class="singleShot-title">{{listShots.singleShot.title}}</h4>
      	<h5 class="user-info">
      		by {{listShots.singleShot.user.username}} on {{ listShots.singleShot.created_at | date }}
      	</h5>
      </div>
      <div class="modal-body">
      	<img class="img-thumbnail img-singleshot" ng-src="{{listShots.singleShot.images.hidpi}}"/>
      	<div class="singleShot-description"></div>
      	<div class="comments">
      		<div class="comment" ng-repeat="comment in listShots.comments">
      			<img class="img-circle comment-avatar" ng-src="{{ comment.user.avatar_url }}"></img>
		      	<h5 id="{{comment.id}}" class="comment-content" ng-bind-html="comment.body"></h5>
		      	<h6 class="comment-info">
		      		{{ comment.created_at | date:"MM/dd/yyyy 'at' h:mma" }}
		      	</h6>
      		</div>
      	</div>
      </div>
      <div class="modal-footer">
      	<div class="icon-wrapper">
	          <span>
	              <span class="singleShotIcon glyphicon glyphicon-eye-open"></span>
	              <span class="icon-info">{{ listShots.singleShot.views_count }}</span>
	          </span>
	          <span>
	              <span class="singleShotIcon glyphicon glyphicon-comment"></span>
	              <span class="icon-info">{{ listShots.singleShot.comments_count }}</span>
	          </span>
	          <span>
	              <span class="singleShotIcon glyphicon glyphicon-heart"></span>
	              <span class="icon-info">{{ listShots.singleShot.likes_count }}</span>
	          </span>
	      </div>
      </div>
    </div>
  </div>
</div>
